h1 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.home {
  background-image: url(sunset_silhouette.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.about, .contact {
  background-color: #31708e;
  color: #f7f9fb;
  height: 100vh;
}
